/*Código armado por La Foca Loca S.A. No modificar*/

body {

  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}

ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
 
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;

}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}
#juego{
  text-align: center;
  animation: fadein 1s;
  background-color: #E84A5F;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
#juego div {
  display: flex;
  float: left;
  animation: fadein 2s;
  width: 33.33%;
  height: 33.33%;
  text-align: center;
}

.pieza {
  width: 100%;
  height: 100%;
}
.pieza img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.2%;
   
 }
 
#objetivo img{
  width: 70%;
  height: 70%;
}

.social-icons {
  margin-top: -3%;
  margin-left: 15%;
}

ul li i {
  color: #242222;
  text-decoration: none;
  transition: .5s;
  padding: 20px 20px;

}

ul li i:hover {
  color: rgb(247, 28, 101);
  transition: .5s;
}
.social-icons li::before {
  content: "·";
  color: #EC6778;
}

.social-icons ul {
  display: inline-flex;
}

.footer {
margin-top: -8.5%;
}
.footer:hover {
  color: rgb(247, 28, 101);
  transition: .5s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}